aside {
  //background: red;
  display: none;
  position: relative;

  background: blue;
  @media (max-width: 480px) {
    display: none;

  }

}
.active-sidebar{
  display: block;
  background: $white;
  position: fixed;
  z-index: 10;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;

  #close-sidebar{
    position: relative;
    top: 1rem;
    left: 1rem;
    background: $white;
    border: none;

  }
  ul {
    padding: 3rem 1rem;
    list-style-type: none;
    li{
      padding: 1rem;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }
}
