@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: white;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height: 100.1%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 4rem;
}

.p-4 {
  padding: 6rem;
}

.p-5 {
  padding: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pl-4 {
  padding-left: 6rem;
}

.pl-5 {
  padding-left: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 4rem;
}

.pr-4 {
  padding-right: 6rem;
}

.pr-5 {
  padding-right: 8rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pt-5 {
  padding-top: 8rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 8rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 4rem;
}

.m-4 {
  margin: 6rem;
}

.m-5 {
  margin: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 4rem;
}

.ml-4 {
  margin-left: 6rem;
}

.ml-5 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 4rem;
}

.mr-4 {
  margin-right: 6rem;
}

.mr-5 {
  margin-right: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.mb-5 {
  margin-bottom: 8rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.navbar {
  position: relative;
  border-bottom: 1px solid #f7f8fd;
}
@media (max-width: 480px) {
  .navbar {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}
.navbar .navbar-left {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.navbar .navbar-left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-left .navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  position: relative;
}
@media (max-width: 480px) {
  .navbar .navbar-left .navbar-links {
    display: none;
  }
}
.navbar .navbar-left .navbar-links .links-li {
  padding: 1rem;
  text-transform: capitalize;
  color: #68707d;
  font-size: 1rem;
  cursor: pointer;
}
.navbar .navbar-left .navbar-links .links-li:hover {
  border-bottom: 5px solid #ff7d1a;
}
.navbar .navbar-left .btn-sidebar {
  display: none;
}
@media (max-width: 480px) {
  .navbar .navbar-left .btn-sidebar {
    display: block;
    background: white;
    padding: 8px 20px 0 0;
  }
}
.navbar .navbar-right {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0 2rem 0;
}
.navbar .navbar-right .cart-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 3rem 0 0;
  cursor: pointer;
}
@media (max-width: 480px) {
  .navbar .navbar-right .cart-navbar {
    padding: 0.1rem 1rem 0 0;
  }
}
.navbar .navbar-right .cart-navbar .cart-value {
  background: #ff7d1a;
  border-radius: 12px;
  position: absolute;
  padding: 2px 13px;
  top: 2rem;
  right: 6rem;
  color: #f7f8fd;
}
.navbar .navbar-right .cart-navbar img {
  height: 2rem;
}
.navbar .navbar-right .user-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-right .user-picture img {
  height: 4rem;
  width: 4rem;
  padding: 0 5px 0 0;
}
@media (max-width: 480px) {
  .navbar .navbar-right .user-picture img {
    height: 3rem;
    width: 3rem;
  }
}
.navbar .show-card {
  position: absolute;
  top: 7rem;
  background: white;
  width: 22rem;
  height: 15rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
@media (max-width: 480px) {
  .navbar .show-card {
    right: -10px;
    top: 9.5rem;
  }
}
.navbar .show-card .empty-cart {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5rem;
}
.navbar .show-card .cart-header {
  padding: 8px 0 10px 15px;
  border-bottom: 1px solid #f7f8fd;
  font-weight: bolder;
}
.navbar .show-card .cart-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.navbar .show-card .cart-container .cart-info {
  display: flex;
}
.navbar .show-card .cart-container .cart-info .cart-img img {
  padding: 0.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}
.navbar .show-card .cart-container .cart-info .cart-products {
  display: flex;
  flex-direction: column;
}
.navbar .show-card .cart-container .cart-info .cart-products .cart-title p {
  margin: 0;
  padding: 5px;
  color: #b6bcc8;
}
.navbar .show-card .cart-container .cart-info .cart-products .cart-product {
  padding: 0 0 0 5px;
  color: #b6bcc8;
}
.navbar .show-card .cart-container .cart-info .cart-products .cart-product span {
  font-weight: bolder;
  color: #1d2025;
  padding: 0 5px;
}
.navbar .show-card .cart-container .cart-info .delete-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 7px;
}
.navbar .show-card .cart-container .cart-info .delete-btn img {
  height: 1rem;
}
.navbar .show-card .cart-container .checkout-btn {
  background: #ff7d1a;
  margin: 1rem 0.2rem;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bolder;
  cursor: pointer;
}

#home .wrapper {
  padding: 1rem;
  margin: 1rem;
}
@media (max-width: 480px) {
  #home .wrapper {
    margin: 0;
    padding: 0;
  }
}
#home .wrapper .main-img {
  padding: 1rem 0;
  margin: 1rem 0;
  cursor: pointer;
}
#home .wrapper .main-img .active-img {
  width: 31rem;
  height: 31rem;
  border-radius: 1rem;
}
@media (max-width: 480px) {
  #home .wrapper .main-img .active-img {
    width: 23rem;
    height: 23rem;
    border-radius: 0;
  }
}
#home .wrapper .multiple-img {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  #home .wrapper .multiple-img {
    display: none;
  }
}
#home .wrapper .multiple-img .thumb {
  padding: 1.2rem;
}
#home .wrapper .multiple-img .first-thumb img {
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
}
#home .wrapper .multiple-img .second-thumb img {
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
}
#home .wrapper .multiple-img .third-thumb img {
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
}
#home .wrapper .multiple-img .fourth-thumb img {
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;
}
#home .wrapper .cover {
  opacity: 0.4;
  z-index: -1;
  cursor: pointer;
}
#home .wrapper .border-orange {
  border: 2px solid #ff7d1a;
  z-index: 9999;
}
#home article {
  padding: 2rem;
  margin: 2rem;
}
@media (max-width: 480px) {
  #home article {
    padding: 10px;
    margin: 10px;
  }
}
#home article h5 {
  padding: 2rem 0 1rem 0;
  color: #ff7d1a;
  font-weight: bolder;
}
@media (max-width: 480px) {
  #home article h5 {
    padding: 0 0 1rem 0;
  }
}
#home article .article-title {
  font-weight: bolder;
  font-size: 3.5rem;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  #home article .article-title {
    font-size: 2rem;
  }
}
#home article .article-title p {
  line-height: 55px;
  margin: 0 0 2rem 0;
}
@media (max-width: 480px) {
  #home article .article-title p {
    line-height: 38px;
  }
}
#home article .article-description {
  color: #68707d;
  font-size: 23px;
}
@media (max-width: 480px) {
  #home article .article-description {
    font-size: 15px;
  }
}
#home article .article-description p {
  line-height: 33px;
}
@media (max-width: 480px) {
  #home article .article-description p {
    line-height: 27px;
  }
}
#home article .article-price {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  #home article .article-price {
    flex-direction: row;
    justify-content: space-between;
  }
}
#home article .article-price .new-price {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
#home article .article-price .new-price .latest-price {
  font-size: 28px;
  padding: 5px 20px 5px 0;
  font-weight: bolder;
}
#home article .article-price .new-price .latest-price p {
  margin: 0;
}
#home article .article-price .new-price .deduction {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home article .article-price .new-price .deduction p {
  background: #ffede0;
  color: #ff7d1a;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bolder;
  margin: 0;
  font-size: 25px;
}
#home article .article-price .article-old-price {
  color: #b6bcc8;
  font-weight: bolder;
}
#home article .article-price .article-old-price p {
  text-decoration: line-through;
}
@media (max-width: 480px) {
  #home article .article-price .article-old-price p {
    margin: 8px 0 5px 20px;
  }
}
#home article .article-footer {
  display: flex;
}
@media (max-width: 480px) {
  #home article .article-footer {
    flex-direction: column;
  }
}
#home article .article-footer .item-value {
  padding: 1.1rem 1rem;
  margin: 0 1rem 0 0;
  background: #f7f8fd;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bolder;
}
@media (max-width: 480px) {
  #home article .article-footer .item-value {
    margin: 1rem 0 1rem 0;
  }
}
#home article .article-footer .item-value #reduce {
  margin: 10px 30px 5px 0;
  color: #ff7d1a;
  cursor: pointer;
}
@media (max-width: 480px) {
  #home article .article-footer .item-value #reduce {
    margin: 10px 90px 5px 0;
  }
}
#home article .article-footer .item-value .article-value {
  margin: 6px;
}
#home article .article-footer .item-value #add {
  margin: 10px 0 5px 30px;
  color: #ff7d1a;
  cursor: pointer;
}
@media (max-width: 480px) {
  #home article .article-footer .item-value #add {
    margin: 10px 0 5px 90px;
  }
}
#home article .article-footer button {
  background: #ff7d1a;
  padding: 1.1rem 1rem;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 3px 15px 15px #ffede0;
  font-weight: bolder;
}
#home article .article-footer button:hover {
  box-shadow: 3px 7px 20px #ff7d1a;
  transition: all 0.3s ease;
}
#home article .article-footer button svg {
  line-height: 30px;
  vertical-align: bottom;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 480px) {
  .col-lg-5, .col-lg-7 {
    margin: 0;
    padding: 0;
  }
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-container .thumb-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
@media (max-width: 480px) {
  .modal-container .thumb-modal {
    display: none;
  }
}
.modal-container .thumb-modal img {
  border: 2px solid transparent;
  border-radius: 1rem;
  margin: 1rem;
  width: 6rem;
  height: 6rem;
}
.modal-container .thumb-modal .blur-img {
  opacity: 0.8;
  border: 4px solid #ff7d1a;
}
.modal-container .close-modal {
  position: absolute;
  top: 6rem;
  right: 42rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 480px) {
  .modal-container .close-modal {
    right: 20rem;
  }
}
.modal-container .close-modal svg path {
  fill: white;
}
.modal-container .close-modal:hover svg path {
  fill: #ff7d1a;
}
.modal-container .left-btn-modal {
  position: absolute;
  display: block;
  top: 26rem;
  left: 40.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 15px 5px 20px 0;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (max-width: 480px) {
  .modal-container .left-btn-modal {
    left: 0.5rem;
    top: 19rem;
  }
}
.modal-container .left-btn-modal:hover svg path {
  stroke: #ff7d1a;
}
.modal-container .right-btn-modal {
  position: absolute;
  display: block;
  top: 26rem;
  right: 40.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 15px 0 20px 3px;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (max-width: 480px) {
  .modal-container .right-btn-modal {
    right: 0.5rem;
    top: 19rem;
  }
}
.modal-container .right-btn-modal:hover svg path {
  stroke: #ff7d1a;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10rem 0 0 0;
}
.show-modal .modal-main .modal-img {
  display: none;
}
.show-modal .modal-main .active-modal-img {
  display: block;
  height: 35rem;
  width: 35rem;
  border-radius: 1rem;
}
@media (max-width: 480px) {
  .show-modal .modal-main .active-modal-img {
    height: 21rem;
    width: 21rem;
  }
}

aside {
  display: none;
  position: relative;
  background: blue;
}
@media (max-width: 480px) {
  aside {
    display: none;
  }
}

.active-sidebar {
  display: block;
  background: white;
  position: fixed;
  z-index: 10;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
}
.active-sidebar #close-sidebar {
  position: relative;
  top: 1rem;
  left: 1rem;
  background: white;
  border: none;
}
.active-sidebar ul {
  padding: 3rem 1rem;
  list-style-type: none;
}
.active-sidebar ul li {
  padding: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
}

/*# sourceMappingURL=index.css.map */
